.calculator{
    text-align: center;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

.btn{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px;
}